{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
      {% if title %}
        <title>Guarde - {{ title }}</title>
      {% else %}
        <title>Guarde</title>
      {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tavo-calendar.css' %}" />
    <script src="{% static 'js/tavo-calendar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.5/sweetalert2.min.js" integrity="sha512-2Dcw7wGts9jXSXtjCYN76icl3cQTy0DL30YUqDkSsqtR9INe+8PaGHekF0Y59md2onO5yoTPi5ikezSLBlN6Og==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.8/minimal/minimal.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="m-0">
    <div id="loader">
      <div style="width: 3rem; height: 3rem;" class="spinner-border text-info" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
    <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'booking-home' %}">Guarde</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <div class="navbar-nav ms-auto me-2 navbar-nav-scroll my-2 my-lg-0">
            <div class="d-none d-xl-block nav-item mx-2 mt-2">
              <p id="reloj" class="nav-link px-0 align-middle"></p>
            </div>
            <div class="nav-item mx-2 my-2">
              <a href="{% url 'booking-home' %}" class="nav-link px-0 align-middle">
                <i class="fas fa-home"></i> <span class="ms-1">Inicio</span>
              </a>
            </div>
            <div class="nav-item mx-2 my-2">
              <a href="#" class="nav-link px-0 align-middle">
                <i class="fas fa-calendar-alt"></i> <span class="ms-1">Reservas</span>
              </a>
            </div>
            <div class="nav-item mx-2 my-2">
              <a href="#" class="nav-link px-0 align-middle">
                <i class="fas fa-dog"></i> <span class="ms-1">Mascotas</span>
              </a>
            </div>
            <div class="nav-item mx-2 my-2">
              <a href="#" class="nav-link px-0 align-middle">
                <i class="fas fa-user-alt"></i> <span class="ms-1">Dueños</span>
              </a>
            </div>
            <div class="nav-item mx-2 my-2 py-1">
              <form>
                <input class="form-control form-control-sm" type="search" placeholder="Buscar..." id="example-search-input">
              </form>
            </div>
            <div class="nav-item d-flex mx-2 my-2">
              <img src="https://github.com/mdo.png" alt="Foto de perfil de {{ user }}" width="30" height="30" class="mt-1 rounded-circle">
              <span class="nav-link px-0 align-middle ms-1 text-dark">Usuario</span>
            </div>
            <div class="nav-item mx-2 my-2">
              <a href="#" class="nav-link px-0 align-middle">
                <i class="fas fa-door-open"></i> <span class="ms-1">Salir</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="flex-nowrap">
        <div class="mx-md-4 pt-4">
          {% block content %}{% endblock content %}
        </div>
      </div>  
    </div>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <script>
      moment.locale('es');
    </script>
    <script>
      let renderClock = function() {
        document.querySelector("#reloj").innerHTML =
          `
          ${moment().format("dddd, D [de] MMMM [de] YYYY, hh:mm:ss")}
          `;
      };
      renderClock();
      setInterval(renderClock, 1000);
    </script>
    <script>
      //after window is loaded completely 
      window.onload = function(){
        s = document.getElementById('loader').style;
        s.opacity = 1;
        (function fade(){(s.opacity-=.1)<0?s.display="none":setTimeout(fade,40)})();
      }
    </script>
  </body>
</html>