{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% if title %}
      <title>Guarde - {{ title }}</title>
    {% else %}
      <title>Guarde</title>
    {% endif %}
    <!-- MOMENT JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- TAILWIND CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ALPINE JS -->
    <script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!-- CALENDAR CSS -->
    <link rel="stylesheet" href="{% static 'css/tavo-calendar.css' %}" />
    <!-- CALENDAR JS -->
    <script src="{% static 'js/tavo-calendar.js' %}"></script>
    <!-- SORT TABLE JS -->
    <script src="{% static 'js/sort-table.min.js' %}"></script>
    <!-- FONTAWESOME CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="antialiased bg-gray-100">
    <div class="flex relative" x-data="{navOpen: false}">
      <!-- NAV -->
      <nav class="absolute md:relative w-64 transform -translate-x-full md:translate-x-0 h-screen overflow-y-hidden bg-black transition-all duration-300" :class="{'-translate-x-full': !navOpen}">
        <div class="flex flex-col justify-between h-full">
          <div class="p-4">
            <!-- LOGO -->
            <a href="{% url 'booking-home' %}" class="flex items-center text-white space-x-4" href="">
              <!-- <svg class="w-7 h-7 bg-indigo-600 rounded-lg p-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg> -->
              <span class="text-2xl font-bold">Guarde</span>
            </a>
  
            <!-- NAV LINKS -->
            <div class="py-4 text-gray-400 space-y-1">
              <!-- BASIC LINK -->
              <a href="{% url 'booking-home' %}" class="block py-2.5 px-4 flex items-center space-x-2 hover:bg-gray-800 hover:text-white hover:bg-gray-800 hover:text-white rounded">
                <i class="fas fa-home"></i> <span class="ms-1">Inicio</span>
              </a>
              <a href="{% url 'booking-calendar' %}" class="block py-2.5 px-4 flex items-center space-x-2 hover:bg-gray-800 hover:text-white hover:bg-gray-800 hover:text-white rounded">
                <i class="fas fa-calendar-alt"></i> <span class="ms-1">Calendario</span>
              </a>
              <!-- DROPDOWN LINK -->
              <div class="block" x-data="{open: false}">
                <div @click="open = !open" class="flex items-center justify-between hover:bg-gray-800 hover:text-white cursor-pointer py-2.5 px-4 rounded">
                  <div class="flex items-center space-x-2">
                    <i class="fas fa-book-open"></i> <span>Reservas</span>
                  </div>
                  <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
                  <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>  
                </div>
                <div x-show="open" class="text-sm border-l-2 border-gray-800 mx-6 my-2.5 px-2.5 flex flex-col gap-y-1">
                  <a href="#" class="block py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                    Nueva reserva
                  </a>
                  <a href="#" class="block py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                    Ver reservas
                  </a>
                </div>
              </div>
              <!-- DROPDOWN LINK -->
              <div class="block" x-data="{open: false}">
                <div @click="open = !open" class="flex items-center justify-between hover:bg-gray-800 hover:text-white cursor-pointer py-2.5 px-4 rounded">
                  <div class="flex items-center space-x-2">
                    <i class="fas fa-dog"></i> <span class="ms-1">Mascotas</span>
                  </div>
                  <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
                  <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>  
                </div>
                <div x-show="open" class="text-sm border-l-2 border-gray-800 mx-6 my-2.5 px-2.5 flex flex-col gap-y-1">
                  <a href="#" class="block py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                    Nueva mascota
                  </a>
                  <a href="#" class="block py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                    Ver mascotas
                  </a>
                </div>
              </div>
              <!-- DROPDOWN LINK -->
              <div class="block" x-data="{open: false}">
                <div @click="open = !open" class="flex items-center justify-between hover:bg-gray-800 hover:text-white cursor-pointer py-2.5 px-4 rounded">
                  <div class="flex items-center space-x-2">
                    <i class="fas fa-user-alt"></i> <span class="ms-1">Dueños</span>
                  </div>
                  <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
                  <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>  
                </div>
                <div x-show="open" class="text-sm border-l-2 border-gray-800 mx-6 my-2.5 px-2.5 flex flex-col gap-y-1">
                  <a href="#" class="block py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                    Nuevo dueño
                  </a>
                  <a href="#" class="block py-2 px-4 hover:bg-gray-800 hover:text-white rounded">
                    Ver dueños
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-xs font-sans text-gray-500 mx-auto mt-auto" id="reloj"></div>
          <!-- PROFILE -->
          <div class="text-gray-200 border-gray-800 rounded flex items-center justify-between p-2">
            
            <div class="flex items-center space-x-2">
              <!-- AVATAR IMAGE BY FIRST LETTER OF NAME -->
              <img src="https://ui-avatars.com/api/?name=Usuario&size=128&background=ff4433&color=fff" class="w-7 w-7 rounded-full" alt="Profile">
              <h1>Usuario</h1>
            </div>
            <a onclick="event.preventDefault(); document.getElementById('logoutForm').submit()" href="#" class="hover:bg-gray-800 hover:text-white p-2 rounded">
              <form id="logoutForm" action="" method="POST"></form>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>      
              </form>
            </a>
          </div>
  
        </div>
      </nav>
      <!-- END OF NAV -->
  
      <!-- PAGE CONTENT -->
      <main class="flex-1 h-screen overflow-y-scroll overflow-x-hidden">
        <div class="md:hidden justify-between items-center bg-black text-white flex">
          <a href="{% url 'booking-home' %}" class="ml-4 flex items-center text-white space-x-4" href="">
            <!-- <svg class="w-7 h-7 bg-indigo-600 rounded-lg p-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg> -->
            <span class="text-2xl font-bold">Guarde</span>
          </a>
          <button @click="navOpen = !navOpen" class="btn p-4 focus:outline-none hover:bg-gray-800">
            <svg class="w-6 h-6 fill-current" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
          </button>
        </div>
        {% block content %}{% endblock content %}
      </main>
      <!-- END OF PAGE CONTENT -->
    </div>

    <script>
      moment.locale('es');
    </script>
    <script>
      let renderClock = function() {
        document.querySelector("#reloj").innerHTML =
          `
          ${moment().format("ddd, D [de] MMM [de] YYYY, HH:mm:ss")}
          `;
      };
      renderClock();
      setInterval(renderClock, 1000);
    </script>
  </body>
</html>