{% extends "booking/base.html" %}
{% block content %}
  <section class="max-w-7xl mx-auto px-5">

    <!-- STATISTICS -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-6">
      <div class="bg-white shadow rounded-sm flex justify-between items-center py-3.5 px-3.5">
        <div class="space-y-2">
          <p class="ml-1 text-xs font-semibold text-purple-300 uppercase">Ingresos hoy</p>
          {% if ingresos %}
            {% for i in ingresos %}
              <div class="flex items-center space-x-2">
                <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                <p class="text-xs text-gray-600 px-1 font-semibold">{{ i.mascota.nombre }}</p>
                <p class="text-xs text-gray-600 px-1">{{ i.fecha_out|date:"j/n/y" }}</p>
              </div>
            {% endfor %}
          {% else %}
            <div class="flex items-center space-x-2">
              <p class="text-xs text-gray-400 px-1">No hay ingresos</p>
            </div>
          {% endif %}
        </div>
        <svg class="w-12 h-12 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M13 2v-2l10 3v18l-10 3v-2h-9v-7h1v6h8v-18h-8v7h-1v-8h9zm-2.947 10l-3.293-3.293.707-.707 4.5 4.5-4.5 4.5-.707-.707 3.293-3.293h-9.053v-1h9.053z"/></svg>
      </div>

      <div class="bg-white shadow rounded-sm flex justify-between items-center py-3.5 px-3.5 mb-auto">
        <div class="space-y-2">
          <p class="ml-1 text-xs font-semibold text-yellow-300 uppercase">Salidas hoy</p>
          {% if salidas %}
            {% for i in salidas %}
              <div class="flex items-center space-x-2">
                <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                <p class="text-xs text-gray-600 px-1 font-semibold">{{ i.mascota.nombre }}</p>
                <p class="text-xs text-gray-600 px-1">{{ i.fecha_in|date:"j/n/y" }} ({{ i.duracion }} días)</p>
              </div>
            {% endfor %}
          {% else %}
            <div class="flex items-center space-x-2">
              <p class="text-xs text-gray-400 px-1">No hay salidas</p>
            </div>
          {% endif %}
        </div>
        <svg class="w-12 h-12 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21h8v-2l1-1v4h-9v2l-10-3v-18l10-3v2h9v5l-1-1v-3h-8v18zm10.053-9l-3.293-3.293.707-.707 4.5 4.5-4.5 4.5-.707-.707 3.293-3.293h-9.053v-1h9.053z"/></svg>
      </div>
    </div>
    <!-- END OF STATISTICS -->
    
    <!-- TABLE -->
    <div class="bg-white shadow rounded-sm my-2 overflow-x-auto">
      <table class="js-sort-table min-w-max w-full table-auto">
        <thead>
          <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="clickable py-3 px-3 text-left">Nombre</th>
            <th class="clickable py-3 px-3 text-center">De</th>
            <th class="clickable py-3 px-3 text-center">A</th>
            <th class="clickable py-3 px-3 text-center"></th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm">
          {% if reservas %}
            {% for i in reservas %}
              {% if i.sale_hoy %}
                <tr class="modal-open clickable bg-yellow-100">
              {% elif i.ingresa_hoy %}
                <tr class="modal-open clickable bg-purple-100">
              {% else %}
                <tr class="modal-open clickable">
              {% endif %}
                <td class="py-3 px-3 text-left">
                  <div class="flex items-center">
                    <div class="mr-2">
                      <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                    </div>
                    <span class="font-semibold">{{ i.mascota.nombre }}</span>
                    {% if i.mascota.indicaciones or i.indicaciones %}
                      <span class="text-red-400 ml-2"><i class="fas fa-exclamation-circle"></i></span>
                    {% endif %}
                  </div>
                </td>
                <td class="py-3 px-3 text-center">
                  {% if i.ingresa_hoy %}
                    <span class="font-bold">
                  {% else %}
                    <span>
                  {% endif %}
                    {{ i.fecha_in|date:"j/n" }}
                  </span>
                </td>
                <td class="py-3 px-3 text-center">
                  {% if i.sale_hoy %}
                    <span class="font-bold">
                  {% else %}
                    <span>
                  {% endif %}
                    {{ i.fecha_out|date:"j/n" }}
                  </span>
                </td>
                <td>
                  <div class="flex item-center justify-center">
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer cursor-pointer">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                      </svg>
                    </div>
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer cursor-pointer">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                      </svg>
                    </div>
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer cursor-pointer">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <td colspan=5 class="py-3 px-3 text-center">
              <p class="text-xs text-gray-400 px-1">No hay reservas hoy</p>
            </td>
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- END OF TABLE -->

    
  </section>

		<!-- Modal -->
		<div style="background-color: rgba(0, 0, 0, 0.8)" class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
      <div class="p-4 max-w-xl mx-auto relative absolute left-0 right-0 overflow-hidden mt-10">
				<div class="modal-close shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer">
					<svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path
							d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
					</svg>
				</div>

				<div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">
					
					<h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Add Event Details</h2>
				 
					<div class="mb-4">
						<label class="text-gray-800 mb-1 font-bold text-sm ">t titleEvent title</label>
						<input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" >
					</div>

					<div class="mb-4">
						<label class="text-gray-800 block mb-1 font-bold text-sm tracking-wide">Event date</label>
						<input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" readonly>
					</div>

					<div class="inline-block w-64 mb-4">
						<label class="text-gray-800 block mb-1 font-bold text-sm tracking-wide">Select a theme</label>
						<div class="relative">
							<select  class="block appearance-none w-full bg-gray-200 border-2 border-gray-200 hover:border-gray-500 px-4 py-2 pr-8 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500 text-gray-700">
																	
							</select>
							<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
							</div>
						</div>
					</div>
 
					<div class="mt-8 text-right">
						<button type="button" class="modal-close bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded-lg shadow-sm mr-2" >
							Cancel
						</button>	
						<button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded-lg shadow-sm" >
							Save Event
						</button>	
					</div>
				</div>
			</div>
		</div>
		<!-- /Modal -->

  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
    	event.preventDefault()
    	toggleModal()
      })
    }
    
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)
    
    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    
    
    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
    
  </script>
{% endblock content %}